<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>morepublic</key>
	<array>
		<dict>
			<key>name</key>
			<string>企业员工体检套餐</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高端体检套餐</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>肿瘤早早检</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>基因检测</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>彩虹桥国际医疗保险</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>日本医疗资源护航</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一站式赴日医疗服务</string>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
		</dict>
	</array>
	<key>public</key>
	<array>
		<dict>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
			<key>name</key>
			<string>体检服务</string>
			<key>isvaliable</key>
			<string>1</string>
			<key>valiablename</key>
			<string></string>
		</dict>
		<dict>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
			<key>name</key>
			<string>医疗保险</string>
			<key>isvaliable</key>
			<string>1</string>
			<key>valiablename</key>
			<string></string>
		</dict>
	</array>
	<key>common</key>
	<array>
		<dict>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
			<key>name</key>
			<string>肿瘤专区</string>
			<key>isvaliable</key>
			<string>1</string>
			<key>valiablename</key>
			<string>即将开通</string>
		</dict>
		<dict>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
			<key>name</key>
			<string>心脑血管专区</string>
			<key>isvaliable</key>
			<string>0</string>
			<key>valiablename</key>
			<string>即将开通</string>
		</dict>
		<dict>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
			<key>name</key>
			<string>肥胖专区</string>
			<key>isvaliable</key>
			<string>0</string>
			<key>valiablename</key>
			<string>即将开通</string>
		</dict>
		<dict>
			<key>url</key>
			<string>sdcenter_item_bg.png</string>
			<key>name</key>
			<string>糖尿病</string>
			<key>isvaliable</key>
			<string>0</string>
			<key>valiablename</key>
			<string>即将开通</string>
		</dict>
	</array>
</dict>
</plist>
