<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/gene/index_1.html</string>
			<key>title</key>
			<string>儿童个体化安全用药基因检测</string>
			<key>img</key>
			<string>G1</string>
			<key>content</key>
			<string>给孩子一份用药保障。</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/gene/index_2.html</string>
			<key>img</key>
			<string>G2</string>
			<key>content</key>
			<string>了解自己即刻变美。</string>
			<key>title</key>
			<string>美容肤质基因检测</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/gene/index_3.html</string>
			<key>img</key>
			<string>G3</string>
			<key>content</key>
			<string>预防人类健康第一杀手。</string>
			<key>title</key>
			<string>心脑血管疾病易感基因</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/gene/index_4.html</string>
			<key>content</key>
			<string>从“心”预见风险，守卫生命源动力。</string>
			<key>img</key>
			<string>G4</string>
			<key>title</key>
			<string>心源性猝死突发风险</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/gene/index_5.html</string>
			<key>content</key>
			<string>早5年发现肠癌，免受肠镜痛苦。</string>
			<key>img</key>
			<string>G5</string>
			<key>title</key>
			<string>Septing9结直肠癌早期筛查</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/gene/index_6.html</string>
			<key>content</key>
			<string>恶性肿瘤风险提示，解读基因的机密，遇见未来的自己。一次检测，一生防护！</string>
			<key>img</key>
			<string>G6</string>
			<key>title</key>
			<string>肿瘤易感基因检测及个体化风险评估</string>
		</dict>
	</array>
	<key>physicals</key>
	<array>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/Employee/index_1.html</string>
			<key>img</key>
			<string>t1</string>
			<key>title</key>
			<string>企业体检套餐1</string>
			<key>content</key>
			<string>标准身体普查套餐，适合提供年度福利体检，便于整体健康状况作出分析和判断。同样适合定期身体检查。该套餐的特点是覆盖全面，项目检查块快速，科学性和诊断性强。提供体检报告寄送服务。</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/Employee/index_2.html</string>
			<key>content</key>
			<string>在标准普查A套餐的基础上，强化了对妇科的全面检查和男性前列腺检查，增加了癌症筛查项目。该套餐的特点是检查全面，强化重点。 提供体检报告寄送服务。</string>
			<key>title</key>
			<string>企业体检套餐2</string>
			<key>img</key>
			<string>t2</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/Employee/index_3.html</string>
			<key>content</key>
			<string>在前面两种套餐的基础，增加了对消化系统病原的检查，对颈椎进行精密检查，和其他一些项目。年龄偏大，或者经常坐在办公室缺少运动，希望得到全面的检查，建议此套餐。提供体检报告寄送服务。</string>
			<key>title</key>
			<string>企业体检套餐3</string>
			<key>img</key>
			<string>t3</string>
		</dict>
		<dict>
			<key>url</key>
			<string>https://api.zhiyi365.cn/Employee/index_4.html</string>
			<key>content</key>
			<string>在前面两种套餐的基础，增加了对消化系统病原的检查，对颈椎进行精密检查，和其他一些项目。年龄偏大，或者经常坐在办公室缺少运动，希望得到全面的检查，建议此套餐。提供体检报告寄送服务。</string>
			<key>title</key>
			<string>企业体检套餐4</string>
			<key>img</key>
			<string>t4</string>
		</dict>
	</array>
</dict>
</plist>
